@font-face {
  font-family: "Segoe UI";

  src: url("./assets/font/SegoeUI-Bold.eot");

  src: url("./assets/font/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/SegoeUI-Bold.woff2") format("woff2"),
    url("./assets/font/SegoeUI-Bold.woff") format("woff");

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";

  src: url("./assets/font/SegoeUI.eot");

  src: url("./assets/font/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/SegoeUI.woff2") format("woff2"),
    url("./assets/font/SegoeUI.woff") format("woff");

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";

  src: url("./assets/font/SegoeUI-Semibold.eot");

  src: url("./assets/font/SegoeUI-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/SegoeUI-Semibold.woff2") format("woff2"),
    url("./assets/font/SegoeUI-Semibold.woff") format("woff");

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

/*
! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

html,
  body {
  min-width: 20rem;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-left-5 {
  left: -1.25rem;
}

.-top-3 {
  top: -0.75rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-1\/3 {
  bottom: 33.333333%;
}

.bottom-10 {
  bottom: 2.5rem;
}

.bottom-20 {
  bottom: 5rem;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-2 {
  left: 0.5rem;
}

.left-4 {
  left: 1rem;
}

.right-0 {
  right: 0px;
}

.right-1\/2 {
  right: 50%;
}

.right-4 {
  right: 1rem;
}

.right-5 {
  right: 1.25rem;
}

.right-9 {
  right: 2.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-10 {
  top: 2.5rem;
}

.top-5 {
  top: 1.25rem;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.m-auto {
  margin: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.-mb-14 {
  margin-bottom: -3.5rem;
}

.-ml-3 {
  margin-left: -0.75rem;
}

.-mr-5 {
  margin-right: -1.25rem;
}

.-mt-24 {
  margin-top: -6rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-\[34px\] {
  margin-top: 34px;
}

.mt-\[43px\] {
  margin-top: 43px;
}

.mt-\[92px\] {
  margin-top: 92px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.h-11 {
  height: 2.75rem;
}

.h-15 {
  height: 3.75rem;
}

.h-20 {
  height: 5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[62px\] {
  height: 62px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-\[305px\] {
  min-height: 305px;
}

.w-1\/2 {
  width: 50%;
}

.w-11 {
  width: 2.75rem;
}

.w-15 {
  width: 3.75rem;
}

.w-20 {
  width: 5rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-\[156px\] {
  width: 156px;
}

.w-\[62px\] {
  width: 62px;
}

.w-\[832px\] {
  width: 832px;
}

.w-\[876px\] {
  width: 876px;
}

.w-\[990px\] {
  width: 990px;
}

.w-full {
  width: 100%;
}

.max-w-\[1440px\] {
  max-width: 1440px;
}

.max-w-\[424px\] {
  max-width: 424px;
}

.max-w-\[490px\] {
  max-width: 490px;
}

.max-w-\[585px\] {
  max-width: 585px;
}

.max-w-\[620px\] {
  max-width: 620px;
}

.max-w-\[808px\] {
  max-width: 808px;
}

.max-w-\[990px\] {
  max-width: 990px;
}

.max-w-full {
  max-width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[70\%\] {
  --tw-translate-x: 70%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[22px\] {
  gap: 22px;
}

.gap-x-\[5\.6497\%\] {
  -moz-column-gap: 5.6497%;
       column-gap: 5.6497%;
}

.space-y-18 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4.375rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-\[\#E4E8F0\] > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(228 232 240 / var(--tw-divide-opacity));
}

.divide-black > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-divide-opacity));
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-3\.5xl {
  border-radius: 2rem;
}

.rounded-4xl {
  border-radius: 2.25rem;
}

.rounded-5xl {
  border-radius: 2.5rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[32px\] {
  border-radius: 32px;
}

.rounded-\[9px\] {
  border-radius: 9px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-bl-\[9px\] {
  border-bottom-left-radius: 9px;
}

.rounded-br-\[9px\] {
  border-bottom-right-radius: 9px;
}

.rounded-tl-\[9px\] {
  border-top-left-radius: 9px;
}

.rounded-tr-\[9px\] {
  border-top-right-radius: 9px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.border-\[\#4083F1\] {
  --tw-border-opacity: 1;
  border-color: rgb(64 131 241 / var(--tw-border-opacity));
}

.border-\[\#63B7B2\] {
  --tw-border-opacity: 1;
  border-color: rgb(99 183 178 / var(--tw-border-opacity));
}

.border-\[\#E9EBF0\] {
  --tw-border-opacity: 1;
  border-color: rgb(233 235 240 / var(--tw-border-opacity));
}

.border-border-1\/10 {
  border-color: rgb(44 44 44 / 0.1);
}

.border-border-1\/20 {
  border-color: rgb(44 44 44 / 0.2);
}

.border-regal-blue {
  --tw-border-opacity: 1;
  border-color: rgb(66 135 246 / var(--tw-border-opacity));
}

.bg-\[\#E8F0FE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(232 240 254 / var(--tw-bg-opacity));
}

.bg-\[\#F1C159\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 193 89 / var(--tw-bg-opacity));
}

.bg-folder {
  --tw-bg-opacity: 1;
  background-color: rgb(241 193 89 / var(--tw-bg-opacity));
}

.bg-folder\/15 {
  background-color: rgb(241 193 89 / 0.15);
}

.bg-regal-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(66 135 246 / var(--tw-bg-opacity));
}

.bg-sky-1\/10 {
  background-color: rgb(65 134 243 / 0.1);
}

.bg-sky-1\/15 {
  background-color: rgb(65 134 243 / 0.15);
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.to-regal-blue\/0 {
  --tw-gradient-to: rgb(66 135 246 / 0) var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[14px\] {
  padding: 14px;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-\[23\.5px\] {
  padding-left: 23.5px;
  padding-right: 23.5px;
}

.px-\[32\.5px\] {
  padding-left: 32.5px;
  padding-right: 32.5px;
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-18 {
  padding-bottom: 4.375rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pb-28 {
  padding-bottom: 7rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-56 {
  padding-bottom: 14rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[135px\] {
  padding-bottom: 135px;
}

.pb-\[22px\] {
  padding-bottom: 22px;
}

.pb-\[23px\] {
  padding-bottom: 23px;
}

.pb-\[52px\] {
  padding-bottom: 52px;
}

.pb-\[72px\] {
  padding-bottom: 72px;
}

.pl-18 {
  padding-left: 4.375rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-18 {
  padding-right: 4.375rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-\[11\.0344\%\] {
  padding-right: 11.0344%;
}

.pr-\[54px\] {
  padding-right: 54px;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-18 {
  padding-top: 4.375rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[10\.263\%\] {
  padding-top: 10.263%;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[52px\] {
  padding-top: 52px;
}

.pt-\[75px\] {
  padding-top: 75px;
}

.pt-\[76px\] {
  padding-top: 76px;
}

.pb-60 {
  padding-bottom: 15rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-body {
  font-family: "DM Sans", sans-serif;
}

.font-ui {
  font-family: "Segoe UI", sans-serif;
}

.text-1\.2xl {
  font-size: 1.063rem;
}

.text-1\.5xl {
  font-size: 1.375rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4\.5xl {
  font-size: 2.5rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5\.5xl {
  font-size: 3.5rem;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-extra-xs {
  font-size: 0.813rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-12 {
  line-height: 3rem;
}

.leading-3 {
  line-height: .75rem;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[14px\] {
  line-height: 14px;
}

.leading-\[16\.8px\] {
  line-height: 16.8px;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[22\.4px\] {
  line-height: 22.4px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[44px\] {
  line-height: 44px;
}

.leading-\[60px\] {
  line-height: 60px;
}

.tracking-\[1px\] {
  letter-spacing: 1px;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-\[\#7B42D1\] {
  --tw-text-opacity: 1;
  color: rgb(123 66 209 / var(--tw-text-opacity));
}

.text-\[\#B9BEC7\] {
  --tw-text-opacity: 1;
  color: rgb(185 190 199 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-body {
  --tw-text-opacity: 1;
  color: rgb(12 12 12 / var(--tw-text-opacity));
}

.text-border-1 {
  --tw-text-opacity: 1;
  color: rgb(44 44 44 / var(--tw-text-opacity));
}

.text-border-1\/50 {
  color: rgb(44 44 44 / 0.5);
}

.text-night-sky {
  --tw-text-opacity: 1;
  color: rgb(41 45 52 / var(--tw-text-opacity));
}

.text-regal-blue {
  --tw-text-opacity: 1;
  color: rgb(66 135 246 / var(--tw-text-opacity));
}

.text-skyline {
  --tw-text-opacity: 1;
  color: rgb(63 50 97 / var(--tw-text-opacity));
}

.text-slate-tint {
  --tw-text-opacity: 1;
  color: rgb(124 130 141 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-50 {
  opacity: 0.5;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.duration-500 {
  transition-duration: 500ms;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:left-3::before {
  content: var(--tw-content);
  left: 0.75rem;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:top-1\/2::before {
  content: var(--tw-content);
  top: 50%;
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:w-\[338px\]::before {
  content: var(--tw-content);
  width: 338px;
}

.before\:-translate-y-1\/2::before {
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:bg-gradient-to-l::before {
  content: var(--tw-content);
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.before\:bg-gradient-to-r::before {
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.before\:from-regal-blue\/100::before {
  content: var(--tw-content);
  --tw-gradient-from: rgb(66 135 246 / 1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(66 135 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.before\:from-white\/100::before {
  content: var(--tw-content);
  --tw-gradient-from: rgb(255 255 255 / 1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.before\:via-white\/90::before {
  content: var(--tw-content);
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.9) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.before\:to-white\/0::before {
  content: var(--tw-content);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
}

.before\:text-\[\#7B68EE\]::before {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(123 104 238 / var(--tw-text-opacity));
}

.before\:text-white\/30::before {
  content: var(--tw-content);
  color: rgb(255 255 255 / 0.3);
}

.before\:content-\[\'\>\'\]::before {
  --tw-content: '>';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after {
  content: var(--tw-content);
  bottom: 0px;
}

.after\:left-0::after {
  content: var(--tw-content);
  left: 0px;
}

.after\:left-\[30\.321\%\]::after {
  content: var(--tw-content);
  left: 30.321%;
}

.after\:right-0::after {
  content: var(--tw-content);
  right: 0px;
}

.after\:top-0::after {
  content: var(--tw-content);
  top: 0px;
}

.after\:h-full::after {
  content: var(--tw-content);
  height: 100%;
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

.after\:rounded-5xl::after {
  content: var(--tw-content);
  border-radius: 2.5rem;
}

.after\:rounded-\[40px\]::after {
  content: var(--tw-content);
  border-radius: 40px;
}

.after\:rounded-bl-5xl::after {
  content: var(--tw-content);
  border-bottom-left-radius: 2.5rem;
}

.after\:rounded-tl-5xl::after {
  content: var(--tw-content);
  border-top-left-radius: 2.5rem;
}

.after\:bg-black\/80::after {
  content: var(--tw-content);
  background-color: rgb(0 0 0 / 0.8);
}

.after\:bg-folder::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(241 193 89 / var(--tw-bg-opacity));
}

.after\:bg-regal-blue::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(66 135 246 / var(--tw-bg-opacity));
}

.after\:bg-skyline::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(63 50 97 / var(--tw-bg-opacity));
}

.after\:bg-gradient-to-r::after {
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.after\:from-sky-1\/15::after {
  content: var(--tw-content);
  --tw-gradient-from: rgb(65 134 243 / 0.15) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(65 134 243 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:from-white\/0::after {
  content: var(--tw-content);
  --tw-gradient-from: rgb(255 255 255 / 0) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:via-white\/90::after {
  content: var(--tw-content);
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.9) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.after\:to-white\/100::after {
  content: var(--tw-content);
  --tw-gradient-to: rgb(255 255 255 / 1) var(--tw-gradient-to-position);
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.even\:flex-row-reverse:nth-child(even) {
  flex-direction: row-reverse;
}

.hover\:bg-regal-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(66 135 246 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:nth-child(odd) .group-odd\:mr-\[2\.067\%\] {
  margin-right: 2.067%;
}

.group:nth-child(odd) .group-odd\:pl-0 {
  padding-left: 0px;
}

.group:nth-child(odd) .group-odd\:pl-12 {
  padding-left: 3rem;
}

.group:nth-child(odd) .group-odd\:pl-18 {
  padding-left: 4.375rem;
}

.group:nth-child(odd) .group-odd\:pt-0 {
  padding-top: 0px;
}

.group:nth-child(odd) .group-odd\:pt-\[52px\] {
  padding-top: 52px;
}

.group:nth-child(odd) .group-odd\:after\:bottom-0::after {
  content: var(--tw-content);
  bottom: 0px;
}

.group:nth-child(odd) .group-odd\:after\:bottom-\[26\.28\%\]::after {
  content: var(--tw-content);
  bottom: 26.28%;
}

.group:nth-child(odd) .group-odd\:after\:left-0::after {
  content: var(--tw-content);
  left: 0px;
}

.group:nth-child(odd) .group-odd\:after\:right-\[40\.467\%\]::after {
  content: var(--tw-content);
  right: 40.467%;
}

.group:nth-child(odd) .group-odd\:after\:top-0::after {
  content: var(--tw-content);
  top: 0px;
}

.group:nth-child(odd) .group-odd\:after\:top-\[20\.28\%\]::after {
  content: var(--tw-content);
  top: 20.28%;
}

.group:nth-child(even) .group-even\:pb-5 {
  padding-bottom: 1.25rem;
}

.group:nth-child(even) .group-even\:pb-\[52px\] {
  padding-bottom: 52px;
}

.group:nth-child(even) .group-even\:pl-18 {
  padding-left: 4.375rem;
}

.group:nth-child(even) .group-even\:pr-18 {
  padding-right: 4.375rem;
}

.group:nth-child(even) .group-even\:pr-24 {
  padding-right: 6rem;
}

.group:nth-child(even) .group-even\:after\:bottom-0::after {
  content: var(--tw-content);
  bottom: 0px;
}

.group:nth-child(even) .group-even\:after\:left-\[40\.467\%\]::after {
  content: var(--tw-content);
  left: 40.467%;
}

.group:nth-child(even) .group-even\:after\:right-0::after {
  content: var(--tw-content);
  right: 0px;
}

.group:nth-child(even) .group-even\:after\:top-\[26\.28\%\]::after {
  content: var(--tw-content);
  top: 26.28%;
}

@media (min-width: 450px) {
  .mobile\:mt-0 {
    margin-top: 0px;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:w-\[calc\(100\%-180px\)\] {
    width: calc(100% - 180px);
  }

  .mobile\:divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  }

  .mobile\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }

  .mobile\:p-0 {
    padding: 0px;
  }

  .mobile\:pl-\[4\.0817\%\] {
    padding-left: 4.0817%;
  }
}

@media (min-width: 640px) {
  .sm\:order-1 {
    order: 1;
  }

  .sm\:order-2 {
    order: 2;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-20 {
    margin-top: 5rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-6 {
    height: 1.5rem;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-6 {
    width: 1.5rem;
  }

  .sm\:w-\[46\.0690\%\] {
    width: 46.0690%;
  }

  .sm\:w-\[calc\(100\%-46\.0690\%\)\] {
    width: calc(100% - 46.0690%);
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:bg-auto {
    background-size: auto;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pb-0 {
    padding-bottom: 0px;
  }

  .sm\:text-start {
    text-align: start;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:before\:absolute::before {
    content: var(--tw-content);
    position: absolute;
  }

  .sm\:before\:left-0::before {
    content: var(--tw-content);
    left: 0px;
  }

  .sm\:before\:top-0::before {
    content: var(--tw-content);
    top: 0px;
  }

  .sm\:before\:h-full::before {
    content: var(--tw-content);
    height: 100%;
  }

  .sm\:before\:w-\[140px\]::before {
    content: var(--tw-content);
    width: 140px;
  }

  .sm\:after\:absolute::after {
    content: var(--tw-content);
    position: absolute;
  }

  .sm\:after\:right-0::after {
    content: var(--tw-content);
    right: 0px;
  }

  .sm\:after\:top-0::after {
    content: var(--tw-content);
    top: 0px;
  }

  .sm\:after\:h-full::after {
    content: var(--tw-content);
    height: 100%;
  }

  .sm\:after\:w-\[140px\]::after {
    content: var(--tw-content);
    width: 140px;
  }
}

@media (min-width: 768px) {
  .md\:bottom-40 {
    bottom: 10rem;
  }

  .md\:right-30 {
    right: 7.5rem;
  }

  .md\:right-\[19\.5rem\] {
    right: 19.5rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-16 {
    margin-bottom: 4rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:mt-10 {
    margin-top: 2.5rem;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:mt-36 {
    margin-top: 9rem;
  }

  .md\:-mt-24 {
    margin-top: -6rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-8 {
    height: 2rem;
  }

  .md\:h-\[300px\] {
    height: 300px;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-8 {
    width: 2rem;
  }

  .md\:w-\[31\.5246\%\] {
    width: 31.5246%;
  }

  .md\:w-\[428px\] {
    width: 428px;
  }

  .md\:w-\[48\.402\%\] {
    width: 48.402%;
  }

  .md\:w-\[calc\(100\%-31\.5246\%\)\] {
    width: calc(100% - 31.5246%);
  }

  .md\:w-\[calc\(100\%-48\.402\%\)\] {
    width: calc(100% - 48.402%);
  }

  .md\:min-w-max {
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .md\:-translate-x-0 {
    --tw-translate-x: -0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:bg-right {
    background-position: right;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:pb-56 {
    padding-bottom: 14rem;
  }

  .md\:pl-20 {
    padding-left: 5rem;
  }

  .md\:pl-8 {
    padding-left: 2rem;
  }

  .md\:pr-9 {
    padding-right: 2.25rem;
  }

  .md\:pt-16 {
    padding-top: 4rem;
  }

  .md\:pt-32 {
    padding-top: 8rem;
  }

  .md\:pl-18 {
    padding-left: 4.375rem;
  }

  .md\:text-5\.5xl {
    font-size: 3.5rem;
  }

  .md\:text-\[40px\] {
    font-size: 40px;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[67\.2px\] {
    line-height: 67.2px;
  }

  .md\:leading-\[67px\] {
    line-height: 67px;
  }

  .group:nth-child(odd) .group-odd\:md\:pl-\[3\.196\%\] {
    padding-left: 3.196%;
  }

  .group:nth-child(even) .md\:group-even\:ml-\[2\.067\%\] {
    margin-left: 2.067%;
  }

  .group:nth-child(even) .group-even\:md\:pr-\[3\.196\%\] {
    padding-right: 3.196%;
  }
}

@media (min-width: 1024px) {
  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mr-\[2\.069\%\] {
    margin-right: 2.069%;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-32 {
    margin-top: 8rem;
  }

  .lg\:-mt-24 {
    margin-top: -6rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[53\.4482\%\] {
    width: 53.4482%;
  }

  .lg\:w-\[54\.2963\%\] {
    width: 54.2963%;
  }

  .lg\:w-\[62\.153\%\] {
    width: 62.153%;
  }

  .lg\:w-\[63\.5344\%\] {
    width: 63.5344%;
  }

  .lg\:w-\[635px\] {
    width: 635px;
  }

  .lg\:w-\[64\.6551\%\] {
    width: 64.6551%;
  }

  .lg\:w-\[calc\(100\%-53\.4482\%\)\] {
    width: calc(100% - 53.4482%);
  }

  .lg\:w-\[calc\(100\%-54\.2963\%\)\] {
    width: calc(100% - 54.2963%);
  }

  .lg\:w-\[calc\(100\%-62\.153\%\)\] {
    width: calc(100% - 62.153%);
  }

  .lg\:w-\[calc\(100\%-63\.5344\%\)\] {
    width: calc(100% - 63.5344%);
  }

  .lg\:w-\[calc\(100\%-64\.6551\%\)\] {
    width: calc(100% - 64.6551%);
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:px-30 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  .lg\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-\[170px\] {
    padding-left: 170px;
    padding-right: 170px;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pl-14 {
    padding-left: 3.5rem;
  }

  .lg\:pl-20 {
    padding-left: 5rem;
  }

  .lg\:pl-24 {
    padding-left: 6rem;
  }

  .lg\:pl-30 {
    padding-left: 7.5rem;
  }

  .lg\:pl-9 {
    padding-left: 2.25rem;
  }

  .lg\:pl-\[4\.8276\%\] {
    padding-left: 4.8276%;
  }

  .lg\:pl-\[50px\] {
    padding-left: 50px;
  }

  .lg\:pr-3 {
    padding-right: 0.75rem;
  }

  .lg\:pr-8 {
    padding-right: 2rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:leading-10 {
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:order-1 {
    order: 1;
  }

  .xl\:order-2 {
    order: 2;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:-mt-24 {
    margin-top: -6rem;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:px-30 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  .xl\:pl-14 {
    padding-left: 3.5rem;
  }

  .xl\:pl-30 {
    padding-left: 7.5rem;
  }

  .xl\:pl-\[8\.1632\%\] {
    padding-left: 8.1632%;
  }

  .xl\:pr-20 {
    padding-right: 5rem;
  }

  .xl\:pr-8 {
    padding-right: 2rem;
  }

  .xl\:pt-0 {
    padding-top: 0px;
  }
}
